/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
  background: #332AB6 !important;
  border: solid 6rem #726ed4;
  color: #726ed4;
  height: 100vh;
}

h1.title {
  color: #726ed4;
  margin-top: 1rem;
}

a.nav-link {
  color: #726ed4;
}

span {
  color: #726ed4;
}

p.welcome {
  padding: 2rem;
  color: #726ed4;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.5rem;
}

footer > div {
  position: fixed;
  padding: 1rem;
  bottom: 6rem;
  color: #726ed4;
}
