@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="title" style="font-family: Lobster">Identity Servus 2.2 &trade;</h1>
  <partial name="_LoginPartial"/>
</div>
