@page
@model IndexModel
@{
  ViewData["Title"] = "Identity Servus";
}

<div class="text-center mt-2">
  <h1 class="title" >Identity Servus 2.2</h1>
</div>
<p class="welcome">
SERVUS AUF UNSEREM IDENTITYSERVER, WO SICHERHEIT UND BENUTZERFREUNDLICHKEIT HAND IN HAND GEHEN!
MELDEN SIE SICH MIT IHREN ANMELDEINFORMATIONEN AN UND TAUCHEN SIE EIN IN DAS UNIVERSUM UNSERER
GESCHÜTZTEN RESSOURCEN. KEIN KONTO? IHR PROBLEM!
REGISTRIEREN JETZT NICHT MÖGLICH, WERDEN SIE LEIDER KEIN TEIL UNSERER SICHEREN COMMUNITY.
LASSEN SIE UNS GEMEINSAM DIE WELT DER IT-SICHERHEIT ERKUNDEN - UND VERGESSEN SIE NICHT,
IHR PASSWORT REGELMÄßIG ZU ÄNDERN!
BEI FRAGEN WENDEN SIE SICH BITTE AN UNSEREN "SUPPORT".
<br>
<br>
READY.
<br>
</p>
