@page
@using Identity.Cat.Areas.Identity.Pages.Account.Manage
@model Identity.Cat.Areas.Identity.Pages.Account.Manage.IndexModel
@{
  ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1 class="title text-center mb-3">@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage"/>
<div class="row">
  <div class="col-md-10 container">
    <section>
      <form id="profile-form" method="post">
        <h2 class="text-center">** FÜGE DEINE TELEFONNUMMER HINZU **</h2>
        <hr style="border-top: .5rem #726ed4 dashed "/>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
          <input asp-for="Username" style="color: #726ed4;font-family: 'Share Tech Mono';background: transparent; border-color: #726ed4" class="form-control" disabled placeholder="BENUTERNAME"/>
          <label asp-for="Username" style="color: #726ed4;font-family: 'Share Tech Mono'">E-MAIL</label>
        </div>
        <div class="form-floating mb-3">
          <div class="form-floating mb-3" style="background: transparent">
            <input asp-for="Input.PhoneNumber" style="color: #726ed4;font-family: 'Share Tech Mono' ;background: transparent; border-color: #726ed4" class="form-control" placeholder="Ihre Telefonnummer"/>
            <label asp-for="Input.PhoneNumber" style="color: #726ed4;font-family: 'Share Tech Mono'">TELEFONNUMMER</label>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
          </div>
        </div>
        <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-outline-primary" style="color: #726ed4;font-family: 'Share Tech Mono';">ÜBERNEHMEN</button>
      </form>
    </section>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}
