@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrierung bestätigen";
}

<h1 class="title text-center mb-3">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-10 container">
        <h2 class="text-center">
            ** BITTE PRÜFEN SIE IHRE E-MAIL, UM IHR KONTO ZU BESTÄTIGEN **
        </h2>
        <hr style="border-top: .5rem #726ed4 dashed "/>
    </div>
</div>