@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterModel
@{
    ViewData["Title"] = "Registrieren";
}

<h1 class="title text-center mb-3">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-10 container">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-center">** NEUES KONTO ERSTELLEN **</h2>
            <hr style="border-top: .5rem #726ed4 dashed "/>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3 form-floating">
                <input asp-for="Input.Email" style="color: #726ed4;font-family: 'Share Tech Mono';background: transparent; border-color: #726ed4" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.Email"style="color: #726ed4;font-family: 'Share Tech Mono'">E-MAIL</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3" style="background: transparent">
                <input asp-for="Input.Password" style="color: #726ed4;font-family: 'Share Tech Mono' ;background: transparent; border-color: #726ed4" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="Input.Password" style="color: #726ed4;font-family: 'Share Tech Mono'">PASSWORT</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" style="color: #726ed4;font-family: 'Share Tech Mono';background: transparent; border-color: #726ed4" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="Input.ConfirmPassword"style="color: #726ed4;font-family: 'Share Tech Mono';">PASSWORT WIEDERHOLEN</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-outline-primary" style="color: #726ed4;font-family: 'Share Tech Mono';">REGISTRIEREN</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}